# DSCI 525 - Web and Cloud Computing

Milestone 2: Your team is planning to migrate to the cloud. AWS gave 400$ (100$ each) to your team to support this. As part of this initiative, your team needs to set up a server in the cloud, a collaborative environment for your team, and later move your data to the cloud. After that, your team can wrangle the data in preparation for machine learning.

## Milestone 2 checklist  
You will have mainly 2 tasks. Here is the checklist...
- To set up a collaborative environment 
    - Setup your EC2 instance with JupyterHub.
    - Install all necessary things needed in your UNIX server (amazon ec2 instance).
    - Set up your S3 bucket.
    - Move the data that you wrangled in your last milestone to s3.
    - To move data from s3.
- Wrangle the data in preparation for machine learning
    - Get the data from S3 in your notebook and make data ready for machine learning.

**Keep in mind:**

- _All services you use are in region us-west-2._

- _Don't store anything in these servers or storage that represents your identity as a student (like your student ID number) ._

- _Use only default VPC and subnet._
    
- _No IP addresses are visible when you provide the screenshot._

- _You do proper budgeting so that you don't run out of credits._ 

- _We want one single notebook for grading, and it's up to your discretion on how you do it. ***So only one person in your group needs to spin up a big instance and a ```t2.xlarge``` is of decent size.***_

- _Please stop the instance when not in use. This can save you some bucks, but it's again up to you and how you budget your money. Maybe stop it if you or your team won't use it for the next 5 hours?

- _Your AWS lab will shut down after 3 hours 30 min. When you start it again, your AWS credentials (***access key***,***secret***, and ***session token***) will change, and you want to update your credentials file with the new one. _

- _Say something went wrong and you want to spin up another EC2 instance, then make sure you terminate the previous one._

- _We will be choosing the storage to be ```Delete on Termination```, which means that stored data in your instance will be lost upon termination. Make sure you save any data to S3 and download the notebooks to your laptop so that next time you have your jupyterHub in a different instance, you can upload your notebook there._

_***Outside of Milestone:*** If you are working as an individual just to practice setting up EC2 instances, make sure you select ```t2.large``` instance (not anything bigger than that as it can cost you money). I strongly recommend you spin up your own instance and experiment with the s3 bucket in doing something (there are many things that we learned and practical work from additional instructions and video series) to get comfortable with AWS. But we won't be looking at it for a grading purpose._

***NOTE:*** Everything you want for this notebook is discussed in lecture 3, lecture 4, and setup instructions.

### 1. Setup your EC2 instance

rubric={correctness:20}

#### Please attach this screen shots from your group for grading.
https://github.ubc.ca/mds-2021-22/DSCI_525_web-cloud-comp_students/blob/master/release/milestone2/image/1_result.png

![](img/milestone2_1.jpg)

### 2. Setup your JupyterHub

rubric={correctness:20}

#### Please attach this screen shots from your group for grading
I want to see all the group members here in this screenshot https://github.ubc.ca/mds-2021-22/DSCI_525_web-cloud-comp_students/blob/master/release/milestone2/image/2_result.png

![](img/milestone2_2.jpg)

### 3. Setup the server

rubric={correctness:20}

3.1) Add your team members to EC2 instance.

3.2) Setup a common data folder to download data, and this folder should be accessible by all users in the JupyterHub.
    
3.3)(***OPTIONAL***) Setup a sharing notebook environment.

3.4) Install and configure AWS CLI.

#### Please attach this screen shots from your group for grading

Make sure you mask the IP address refer [here](https://www.anysoftwaretools.com/blur-part-picture-mac/).

https://github.ubc.ca/mds-2021-22/DSCI_525_web-cloud-comp_students/blob/master/release/milestone2/image/3_result.png

![](img/milestone2_3.jpg)

### 4. Get the data what we wrangled in our first milestone.

You have to install the packages that are needed. Refer this TLJH [document]( https://tljh.jupyter.org/en/latest/howto/env/user-environment.html).Refer ```pip``` section.

Don't forget to add option -E. This way, all packages that you install will be available to other users in your JupyterHub.
These packages you must install and install other packages needed for your wrangling.

    sudo -E pip install pandas
    sudo -E pip install pyarrow
    sudo -E pip install s3fs

As in the last milestone, we looked at getting the data transferred from Python to R, and we have different solutions. Henceforth, I uploaded the parquet file format, which we can use moving forward.

In [1]:
import re
import os
import glob
import zipfile
import requests
from urllib.request import urlretrieve
import json
import pandas as pd

/opt/tljh/user/lib/python3.7/site-packages/requests/__init__.py:91: RequestsDependencyWarning: urllib3 (1.26.4) or chardet (3.0.4) doesn't match a supported version!
  RequestsDependencyWarning)

Rememeber here we gave the folder that we created in Step 3.2 as we made it available for all the users in a group.

In [3]:
# Necessary metadata
article_id = 14226968  # this is the unique identifier of the article on figshare
url = f"https://api.figshare.com/v2/articles/{article_id}"
headers = {"Content-Type": "application/json"}
output_directory = "/srv/data/my_shared_data_folder/"

In [4]:
response = requests.request("GET", url, headers=headers)
data = json.loads(response.text)  # this contains all the articles data, feel free to check it out
files = data["files"]             # this is just the data about the files, which is what we want
files

[{'is_link_only': False,
  'name': 'allyears.csv.zip',
  'supplied_md5': '9e046ac05ecd2c32a256a47dd1098b81',
  'computed_md5': '9e046ac05ecd2c32a256a47dd1098b81',
  'id': 26844650,
  'download_url': 'https://ndownloader.figshare.com/files/26844650',
  'size': 2405908113},
 {'is_link_only': False,
  'name': 'individual_years.zip',
  'supplied_md5': '921da748974b07b2a70bbfcc04535a77',
  'computed_md5': '921da748974b07b2a70bbfcc04535a77',
  'id': 26863682,
  'download_url': 'https://ndownloader.figshare.com/files/26863682',
  'size': 1896206676},
 {'is_link_only': False,
  'name': 'combined_model_data.csv.zip',
  'supplied_md5': '7638434c44a7d29cbb29fe200b4fd65d',
  'computed_md5': '7638434c44a7d29cbb29fe200b4fd65d',
  'id': 27515426,
  'download_url': 'https://ndownloader.figshare.com/files/27515426',
  'size': 821308997},
 {'is_link_only': False,
  'name': 'combined_model_data_parti.parquet.zip',
  'supplied_md5': '02f4e3df8d16580a02291de225072689',
  'computed_md5': '02f4e3df8d16580a02291de225072689',
  'id': 27520682,
  'download_url': 'https://ndownloader.figshare.com/files/27520682',
  'size': 519743915},
 {'is_link_only': False,
  'name': 'combined_model_data.parquet',
  'supplied_md5': 'ae63699ab21ffa8006559c6afbcd2271',
  'computed_md5': 'ae63699ab21ffa8006559c6afbcd2271',
  'id': 27520808,
  'download_url': 'https://ndownloader.figshare.com/files/27520808',
  'size': 565872005}]

In [5]:
files_to_dl = ["combined_model_data_parti.parquet.zip"]  ## Please download the partitioned 
for file in files:
    if file["name"] in files_to_dl:
        os.makedirs(output_directory, exist_ok=True)
        urlretrieve(file["download_url"], output_directory + file["name"])

In [6]:
with zipfile.ZipFile(os.path.join(output_directory, "combined_model_data_parti.parquet.zip"), 'r') as f:
    f.extractall(output_directory)

### 5. Setup your S3 bucket and move data

rubric={correctness:20}

5.1)  Create a bucket name should be mds-s3-xxx. Replace xxx with your "groupnumber".

5.2)  Create your first folder called "output".

5.3) Move the "observed_daily_rainfall_SYD.csv" file from the Milestone1 data folder to your s3 bucket from your local computer.

5.4) Moving the parquet file we downloaded(combined_model_data_parti.parquet) in step 4 to S3 using the cli what we installed in step 3.4.

#### Please attach this screen shots from your group for grading

Make sure it has 3 objects.

https://github.ubc.ca/mds-2021-22/DSCI_525_web-cloud-comp_students/blob/master/release/milestone2/image/4_result.png

![](img/milestone2_4.jpg)

### 6. Wrangle the data in preparation for machine learning

rubric={correctness:20}

Our data currently covers all of NSW, but say that our client wants us to create a machine learning model to predict rainfall over Sydney only. There's a bit of wrangling that needs to be done for that:
1. We need to query our data for only the rows that contain information covering Sydney
2. We need to wrangle our data into a format suitable for training a machine learning model. That will require pivoting, resampling, grouping, etc.

To train an ML algorithm we need it to look like this:

||model-1_rainfall|model-2_rainfall|model-3_rainfall|...|observed_rainfall|
|---|---|---|---|---|---|
|0|0.12|0.43|0.35|...|0.31|
|1|1.22|0.91|1.68|...|1.34|
|2|0.68|0.29|0.41|...|0.57|

6.1) Get the data from s3 (```combined_model_data_parti.parquet``` and ```observed_daily_rainfall_SYD.csv```)

6.2) First query for Sydney data and then drop the lat and lon columns (we don't need them).
```
syd_lat = -33.86
syd_lon = 151.21
```
Expected shape ```(1150049, 2)```.

6.3) Save this processed file to s3 for later use:

  Save as a csv file ```ml_data_SYD.csv``` to ```s3://mds-s3-xxx/output/```
  expected shape ```(46020,26)``` - This includes all the models as columns and also adding additional column ```Observed``` loaded from ```observed_daily_rainfall_SYD.csv``` from s3.

In [1]:
### Do all your coding here

In [2]:
import re
import os
import glob
import zipfile
import requests
from urllib.request import urlretrieve
import json
import pandas as pd

In [3]:
aws_credential = {
    "key": "ASIAQGPPVI3M77L2I3U6",
    "secret": "ZZ2t6lf8U8M0bfVC1eNrTLlQYAJ1GiTEqiRiu72z",
    "token":"FwoGZXIvYXdzEEUaDORX3jCDl3IU4ERP4yLLAZ4d+XZ/RVR3t516+iXtb9RZFTlw7CQiVAYl3LdFijxMgg70MWXhma8grw4XTo92HnqWq2vZIBKuGoOfIeeTCy1WQ8V88AT0p4rrbBvEx8c/uC9xelE7gThTn6VlNg7Unvxt+jM8rqayY25ZkDNR8VhXxwCHmK6aMqtdqVoMLyN68LDiM2Ig+S4tnpj+YD/aoqBnPKIfPwU79rQXuA51cyWFHVxrLPNWJ/6F2a4ydSRyW6Nwq4IZjn0Pnp8pXbfuyG3JsYnzpYEBfF7hKOfZvpIGMi17wYADJxTJDoXSxQPHv/w/Kb5wJz/9AnWV4jpW1EVwNb91AK7z69ZWxIJgBp0="
}

### Read Data

In [4]:
df_csv = pd.read_csv("s3://mds-s3-013/observed_daily_rainfall_SYD.csv", storage_options = aws_credential)

df_csv.head(3)

         time  rain (mm/day)
0  1889-01-01       0.006612
1  1889-01-02       0.090422
2  1889-01-03       1.401452

In [5]:
df_parquet = pd.read_parquet("s3://mds-s3-013/combined_model_data_parti.parquet/",
                            storage_options = aws_credential)

In [6]:
df_parquet.head(3)

,time,lat_min,lat_max,lon_min,lon_max,rain (mm/day),model
0,1889-01-01 12:00:00,-36.25,-35.0,140.625,142.5,3.293256e-13,ACCESS-CM2
1,1889-01-02 12:00:00,-36.25,-35.0,140.625,142.5,0.000000e+00,ACCESS-CM2
2,1889-01-03 12:00:00,-36.25,-35.0,140.625,142.5,0.000000e+00,ACCESS-CM2

### Sydney Data

In [7]:
syd_df = (df_parquet.query("lat_min <= -33.86 <= lat_max & lon_min <= 151.21 <= lon_max").
          drop(columns=["lat_min", "lat_max", "lon_min", "lon_max"]))
syd_df['time'] = pd.to_datetime(syd_df['time']).dt.date

In [9]:
syd_df.head(2)

              time  rain (mm/day)       model
552240  1889-01-01       0.040427  ACCESS-CM2
552241  1889-01-02       0.073777  ACCESS-CM2

In [10]:
syd_df = syd_df.set_index('time')
syd_df.head()

            rain (mm/day)       model
time
1889-01-01       0.040427  ACCESS-CM2
1889-01-02       0.073777  ACCESS-CM2
1889-01-03       0.232656  ACCESS-CM2
1889-01-04       0.911319  ACCESS-CM2
1889-01-05       0.698013  ACCESS-CM2

In [11]:
syd_df.shape

(1150049, 2)

### Data Wrangling

In [12]:
df_csv['time'] = pd.to_datetime(df_csv['time'])
df_csv.set_index('time', inplace=True)
df_csv.head(3)

            rain (mm/day)
time
1889-01-01       0.006612
1889-01-02       0.090422
1889-01-03       1.401452

In [13]:
df_csv['model'] = 'observed'
df_csv.head(3)

            rain (mm/day)     model
time
1889-01-01       0.006612  observed
1889-01-02       0.090422  observed
1889-01-03       1.401452  observed

In [21]:
df_csv.shape

(46020, 2)

In [26]:
combined_df = pd.concat([df_csv, syd_df])
combined_df.shape

(1196069, 2)

In [27]:
finaloutput = combined_df.pivot(columns='model', values='rain (mm/day)')

In [28]:
finaloutput.shape

(46020, 26)

In [18]:
finaloutput.head(10)

model,ACCESS-CM2,ACCESS-ESM1-5,AWI-ESM-1-1-LR,BCC-CSM2-MR,BCC-ESM1,CMCC-CM2-HR4,CMCC-CM2-SR5,CMCC-ESM2,CanESM5,EC-Earth3-Veg-LR,...,MPI-ESM-1-2-HAM,MPI-ESM1-2-HR,MPI-ESM1-2-LR,MRI-ESM2-0,NESM3,NorESM2-LM,NorESM2-MM,SAM0-UNICON,TaiESM1,observed
time,,,,,,,,,,,,,,,,,,,,,
1889-01-01,0.040427,1.814552,35.579336,4.268112e+00,1.107466e-03,11.410537,3.322009e-08,2.668800,1.321215,1.515293e+00,...,4.244226e-13,1.390174e-13,6.537884e-05,3.445495e-06,1.576096e+01,4.759651e-05,2.451075,0.221324,2.257933,0.006612
1889-01-02,0.073777,0.303965,4.596520,1.190141e+00,1.015323e-04,4.014984,1.312700e+00,0.946211,2.788724,4.771375e+00,...,4.409552e+00,1.222283e-01,1.049131e-13,4.791993e-09,3.675510e-01,4.350863e-01,0.477231,3.757179,2.287381,0.090422
1889-01-03,0.232656,0.019976,5.927467,1.003845e-09,1.760345e-05,9.660565,9.103720e+00,0.431999,0.003672,4.233980e+00,...,2.269300e-01,3.762301e-01,9.758706e-14,6.912302e-01,1.562869e-01,9.561101e+00,0.023083,0.253357,1.199909,1.401452
1889-01-04,0.911319,13.623777,8.029624,8.225225e-02,1.808932e-01,3.951528,1.317160e+01,0.368693,0.013578,1.525249e+01,...,2.344586e-02,4.214019e-01,7.060915e-03,3.835721e-02,2.472226e-07,5.301038e-01,0.002699,2.185454,2.106737,14.869798
1889-01-05,0.698013,0.021048,2.132686,2.496841e+00,4.708019e-09,2.766362,1.822940e+01,0.339267,0.002468,1.192036e+01,...,4.270161e-13,1.879692e-01,4.504985e+00,3.506923e-07,1.949792e-13,1.460928e-10,0.001026,2.766507,1.763335,0.467628
1889-01-06,0.176846,0.364671,0.106105,4.383307e-13,3.437249e-07,23.617552,4.036332e+00,0.008937,0.000000,7.534027e-02,...,3.888130e-01,1.212115e-13,4.027802e+00,8.058601e-01,1.926850e-13,1.192076e-03,2.155050,3.281224,0.096504,0.000000
1889-01-07,0.347102,0.012561,0.780772,4.599509e-04,1.598180e+01,9.254538,5.343101e+00,15.105793,0.211540,3.154230e+00,...,2.101678e-02,1.187939e-13,2.491990e-01,8.221049e-13,1.490119e-01,6.488937e-01,6.970733,1.117913,3.021798,0.403645
1889-01-08,0.042755,0.087271,0.312471,1.182123e-06,8.529780e+00,17.310366,7.936454e+00,36.009891,0.013135,2.109385e+00,...,2.094235e-01,1.931241e-01,9.888659e-14,1.766779e-03,8.325429e+00,4.708920e-01,0.858247,53.212309,2.886699,0.111741
1889-01-09,0.029409,0.367011,0.698855,1.814032e+00,1.793289e-01,21.376961,2.659956e+00,2.105408,23.622214,-3.911231e-20,...,4.433096e-13,2.564862e-03,4.506111e+00,5.282789e+00,1.833132e-13,4.403384e-03,3.504712,0.583404,2.902378,0.000000
1889-01-10,0.023641,1.204603,0.855432,2.041867e-08,4.213335e-01,2.649612,8.852351e-01,0.548089,0.394165,6.866455e-02,...,5.243283e-01,2.156345e-01,1.909716e+01,6.569285e-04,1.059172e-06,1.241138e-01,15.477286,0.059971,0.315518,0.000000

### Save Data to S3

In [29]:
finaloutput.to_csv("s3://mds-s3-013/output/ml_data_SYD.csv", storage_options = aws_credential)

How the final file format looks like
https://github.ubc.ca/mds-2021-22/DSCI_525_web-cloud-comp_students/blob/master/release/milestone2/image/finaloutput.png

Shape ```(46020,26 )```

(***OPTIONAL***) If you are interested in doing some benchmarking!! How much time it took to read..
- Parquet file from your local disk ?
- Parquet file from s3 ?
- CSV file from s3 ?
    For that, upload the CSV file (```combined_model_data.csv```
     )to S3 and try to read it instead of parquet.